<h2>List of doctors</h2>
<div class="btn-container">
  <button class="btn" [routerLink]="['add-doctor']">Add Doctor</button>
</div>

<div class="container">
  <div class="table-wrapper">
    <table border="1">
      <thead>
        <tr>
          <th>Doctor ID</th>
          <th>Name</th>
          <th>Phone Number</th>
          <th>Date of Birth</th>
          <th>Email</th>
          <th>Experience (Years)</th>
          <th>Gender</th>
          <th>Status</th>
          <th>Address</th>
          <th>Specialization</th>
          <th>Experiences</th>
          <th>Qualifications</th>
          <th>Edit Data</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let doctor of doctors">
          <td>{{ doctor.doctorId }}</td>
          <td>{{ doctor.firstName | doctorNameFormatter }} {{ doctor.lastName }}</td>
          <td>{{ doctor.phoneNum }}</td>
          <td>{{ doctor.dateOfBirth }}</td>
          <td>{{ doctor.email }}</td>
          <td *ngFor="let exp of doctor.experiences">{{ exp.experienceInYears }}</td>
          <td>{{ doctor.gender }}</td>
          <td>{{ doctor.status }}</td>
          <td>
            {{ doctor.address.houseName }}, {{ doctor.address.city }},
            {{ doctor.address.state }}, {{ doctor.address.country }},
            {{ doctor.address.zipCode }}
          </td>
          <td>
            {{ doctor.specialization.specializationType }} <br>
            {{ doctor.specialization.specializationDescription }}
          </td>
          <td>
            <ul>
              <li *ngFor="let exp of doctor.experiences">
                {{ exp.clinicName }} - {{ exp.role }} ({{ exp.experienceInYears }} years)
              </li>
            </ul>
          </td>
          <td>
            <ul>
              <li *ngFor="let qual of doctor.qualifications">
                {{ qual.degree }} from {{ qual.university }} ({{ qual.startYear }} - {{ qual.endYear }})
              </li>
            </ul>
          </td>
          <td class="btn-container">
            <button class="btn" (click)="updateAddress(doctor.doctorId)">Update Address</button>
            <button class="btn" (click)="updateExperience(doctor.doctorId)">Update Experience</button>
            <button class="btn" (click)="deleteDoctor(doctor.doctorId)">Delete Doctor</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
