<h2>List of doctors</h2>
<div class="cl">
  <button class="add-doctor-btn" [routerLink]="['/add-doctor']">+<p class="text">Add doctor</p></button>
  <div class="table-responsive">
    <table>
      <thead>
        <tr>
          <th>Doctor ID</th>
          <th>Name</th>
          <th>Phone Number</th>
          <th>Email</th>
          <th>Experience</th>
          <th>Status</th>
          <th>Specialization</th>
          <th>Edit</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let doctor of doctors">
          <td>{{ doctor.doctorId }}</td>
          <td>{{ doctor.firstName | doctorNameFormatter }} {{ doctor.lastName }}</td>
          <td>{{ doctor.phoneNum }}</td>
          <td>{{ doctor.email }}</td>
          <td *ngFor="let exp of doctor.experiences">{{ exp.experienceInYears }} years</td>
          <td>{{ doctor.status }}</td>
          <td>
            {{ doctor.specialization.specializationType }}
          </td>
          <td>
          <div class="dropdown">
            <button class="ellipsis-btn">&#8942;</button>
            <div class="dropdown-content">
              <a (click)="deleteDoctor(doctor.doctorId)">Delete</a>
              <a (click)="updateAddress(doctor.doctorId)">Edit</a>
              <a (click)="viewDoctor(doctor.doctorId)">View</a>
            </div>
          </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
