/* Styling for the Doctors List Component */
h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.btn {
  background-color: rgb(243, 39, 83);
  color: white;
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
}

.btn:hover{
  transform: scale(1.05);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #f9f9f9;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #007bff;
  color: white;
}

td {
  color: #333;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {
  padding: 5px 0;
}

@media screen and (max-width: 768px) {
  table {
    font-size: 14px;
  }

  th, td {
    padding: 8px;
  }

  .btn {
    font-size: 14px;
  }
}
