<header class="header">
  <div class="header-left" routerLinkActive="router-link-active" >
    <a class="logo" [routerLink]="['/dashboard']">+ CMD</a>
    <a class="subtitle" [routerLink]="['/dashboard']">Connect My Doc</a>
  </div>
  <div class="header-right">
    <button class="icon-button">
      <span class="material-icons">notifications</span>
    </button>
    <button class="icon-button">
      <span class="material-icons">settings</span>
    </button>
    <div class="profile">
      <!-- <img src="assets/images/male-icon.png" alt="A" class="avatar" width="40" height="40"> -->
      <div class="dropdown">
        <button class="ellipsis-btn"><img src="assets/images/male-icon.png" alt="A" class="avatar" width="40" height="40"></button>
        <div class="dropdown-content">
          <a (click)="logout()">Logout</a>
        </div>
    </div>
  </div>
  </div>
</header>
