<header class="header">
  <div class="header-left">
    <span class="logo">+ CMD</span>
    <span class="subtitle">Connect My Doc</span>
  </div>
  <div class="header-right">
    <button class="icon-button">
      <span class="material-icons">notifications</span>
    </button>
    <button class="icon-button">
      <span class="material-icons">settings</span>
    </button>
    <div class="profile">
      <img src="/assets/placeholder.svg" alt="Admin Avatar" class="avatar">
      <span class="username">Admin</span>
    </div>
  </div>
</header>
