<div class="page-wrapper">
  <div class="content">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <h4 class="page-title">Schedule Appointment</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <form [formGroup]="appointmentForm" (ngSubmit)="submitAppointment()">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Patient ID (Format: PAT-1234-1234)</label>
                <input formControlName="patientId" class="form-control" placeholder="PAT-1234-1234" />
                <div *ngIf="appointmentForm.get('patientId')?.invalid && appointmentForm.get('patientId')?.touched" class="text-danger">
                  Invalid format! Use PAT-XXXX-XXXX.
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Doctor ID (Format: DOC-1234-1234)</label>
                <input formControlName="doctorId" class="form-control" placeholder="DOC-1234-1234" />
                <div *ngIf="appointmentForm.get('doctorId')?.invalid && appointmentForm.get('doctorId')?.touched" class="text-danger">
                  Invalid format! Use DOC-XXXX-XXXX.
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Appointment Date</label>
                <input formControlName="appointmentDate" type="date" class="form-control" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Appointment Time</label>
                <input formControlName="appointmentTime" type="time" class="form-control" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Purpose of Visit</label>
                <select formControlName="purposeOfVisit" class="form-control">
                  <option *ngFor="let purpose of purposeOfVisitOptions" [value]="purpose">{{ purpose }}</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Appointment Type</label>
                <select formControlName="appointmentType" class="form-control">
                  <option *ngFor="let type of appointmentTypeOptions" [value]="type">{{ type }}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="text-center mt-4">
            <button type="submit" class="btn btn-primary submit-btn" [disabled]="!appointmentForm.valid">
              Schedule Appointment
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
