<div class="page-wrapper">
  <div class="content">
    <div class="row">
      <div class="col-sm-4 col-3">
        <h4 class="page-title">All Clinics</h4>
      </div>
      <div class="col-sm-8 col-9 text-right m-b-20">
        <button class="btn btn-primary btn-rounded float-right" routerLink="/clinics/add">
          <i class="fa fa-plus"></i> Add Clinic
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="table-wrapper">
          <table class="table table-border table-striped custom-table datatable mb-0">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Active</th>
                <th class="text-right">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let clinic of clinics">
                <td>{{ clinic.id }}</td>
                <td>{{ clinic.name }}</td>
                <td>{{ clinic.phoneNumber }}</td>
                <td>{{ clinic.email }}</td>
                <td>{{ clinic.startTime | date: 'short' }}</td>
                <td>{{ clinic.endTime | date: 'short' }}</td>
                <td>
                  <span class="status" [class.active]="clinic.isServiceActive" [class.inactive]="!clinic.isServiceActive">
                    {{ clinic.isServiceActive ? 'Active' : 'Inactive' }}
                  </span>
                </td>
                <td class="text-right">
                  <div class="dropdown dropdown-menu-right">
                    <button class="ellipsis-btn">&#8942;</button>
                    <div class="dropdown-content dropdown-menu-right">
                      <a class="dropdown-item" (click)="deleteClinic(clinic.id)">Delete</a>
                      <a class="dropdown-item" [routerLink]="['/clinics/edit', clinic.id]">Edit</a>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
