<div class="page-wrapper">
  <div class="content">
      <div class="row mb-0">
        <div class="col-sm-4 col-2">
          <h4 class="page-title">Appointments</h4>
        </div>
        <div class="col-sm-8 col-9 text-right">
          <button class="btn btn-primary btn-rounded float-right" (click)="scheduleAppointment()">
            <i class="fa fa-plus"></i>  Add Appointment
          </button>
        </div>
      </div>

    <div class="table-controls col-sm-1">
      <label for="entries">Show</label>
      <select id="entries" class="form-control" [(ngModel)]="entriesToShow">
        <option *ngFor="let num of [10, 25, 50, 100]" [value]="num">{{ num }}</option>
      </select>
      entries
    </div>

    <div class="table-wrapper">
      <table class="table table-striped custom-table">
        <thead>
          <tr>
            <th>Appointment ID</th>
            <th>Patient Name</th>
            <th>Doctor Name</th>
            <th>Purpose of visit</th>
            <th>Appointment Date</th>
            <th>Appointment Time</th>
            <th>Status</th>
            <th class="text-right">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let appointment of appointments">
            <td>
              <a (click)="viewAppointment(appointment.appointmentId)">{{ appointment.appointmentId }}</a>
            </td>
            <td>{{ appointment.patient.patientName }}</td>
            <td>{{ appointment.doctor.doctorName }}</td>
            <td>{{ appointment.purposeOfVisit }}</td>
            <td>{{ appointment.appointmentDate | date: 'dd-MM-yyyy' }}</td>
            <td>{{ appointment.appointmentTime }}</td>
            <td>
              <span
                [ngClass]="{
                  'status-scheduled': appointment.appointmentStatus === 'SCHEDULED',
                  'status-cancelled': appointment.appointmentStatus === 'CANCELLED',
                  'status-completed': appointment.appointmentStatus === 'COMPLETED'
                }"
              >
                {{ appointment.appointmentStatus }}
              </span>
            </td>
            <td class="text-right">
              <div class="dropdown dropdown-menu-right">
                <button class="ellipsis-btn">&#8942;</button>
                <div class="dropdown-content dropdown-menu-right">
                  <a class="dropdown-item" (click)="editAppointment(appointment.appointmentId)">Edit</a>
                  <a class="dropdown-item" (click)="cancelAppointment(appointment.appointmentId)">Cancel</a>
                  <a class="dropdown-item" (click)="viewAppointment(appointment.appointmentId)">View</a>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
