<div class="container">
  <h2>Edit Doctor</h2>

  <!-- Fetch Doctor by ID -->
  <!-- <div>
    <label>Doctor ID:</label>
    <input type="text" [(ngModel)]="doctorId" placeholder="Doctor ID">
  </div> -->

  <div *ngIf="doctor">
    <h3>Doctor Details</h3>
    <p><strong>ID:</strong> {{ doctor.doctorId }}</p>
    <p><strong>Name:</strong> {{ doctor.firstName }} {{doctor.lastName}}</p>

    <!-- Update Experience -->
    <div class="exp">
      <h4>Update Experience</h4>
      <label>Update YOE :</label>
      <input type="number" [(ngModel)]="newExperience.experienceInYears">
      <label>Update Role:</label>
      <input type="text" [(ngModel)]="newExperience.role">
      <label>Work Status:</label>
      <input type="text" [(ngModel)]="newExperience.experienceType">
      <label>Update Clinic Name:</label>
      <input type="text" [(ngModel)]="newExperience.clinicName">
      <button (click)="updateExperience()">Update Experience</button>
    </div>
</div>
</div>


<div class="container">
    <!-- Update Address -->
    <div class="add">
      <h4>Update Address</h4>
      <label>Street:</label>
      <input type="text" [(ngModel)]="newAddress.houseName">
      <label>City:</label>
      <input type="text" [(ngModel)]="newAddress.city">
      <label>State:</label>
      <input type="text" [(ngModel)]="newAddress.state">
      <label>Zip Code:</label>
      <input type="text" [(ngModel)]="newAddress.zipCode">
      <button (click)="updateAddress()">Update Address</button>
    </div>
</div>

