* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

body {
  background-color: #f4f8fb;
  color: #333;
}

/* Hero Section */
.hero {
  margin-top: 20px;
  text-align: center;
  background: #007bff;
  color: white;
  padding: 50px 20px;
}

a{
  text-decoration: none;
  color: #007bff;
}

a:hover{
  text-decoration: underline;
  color: black;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.hero p {
  font-size: 1.2rem;
}

/* Features Section */
.features {
  text-align: center;
  padding: 40px 20px;
  background: white;
}

.features h2 {
  margin-bottom: 20px;
  color: #007bff;
}

.features ul {
  list-style: none;
  padding: 0;
}

.features li {
  font-size: 1.1rem;
  margin: 10px 0;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

/* Clinics & Doctors Section */
.clinic-doctor-section {
  display: flex;
  justify-content: space-evenly;
  padding: 50px 20px;
  width: 100%;
}

.clinic, .doctor, .appointments{
  width: 32%;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.clinic h2, .doctor h2, .appointments h2 {
  color: #007bff;
  margin-bottom: 15px;
}
